
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2{
  font-size: 60px;
  color: aliceblue;
}
h1{
  
  font-size: 100px;
  color: aliceblue;
  margin-left: 180px;
  
}
h3{
  font-size: 150px;
  margin-left: 310px;
  margin-top: -50px;
}